<div class="Body-simulador">
  <div class="Etiquetas-flex">
    <div class="Form Flujo">1. Flujo Neto de Efectivo</div>
    <div class="Form Costo">2. Relación Costo-Beneficio</div>
    <div class="Form Disable">3. Periodo de Recuperación</div>
    <div class="Form Disable">4. Tabla pago a Préstamo</div>
  </div>

  <div class="d-flex Datos">

    <div class="Formulario">
      <div>
        <div class="div-titulo">
          <p>Ingresar Datos</p>
        </div>
        <form [formGroup]="formularioDatos">
          <div class="Campo">
            <h1>CCPP:</h1>
            <div class="d-flex">
              <h2>%</h2>
              <input formControlName="ccpp" type="text" id="ccpp" appInputPorcentaje placeholder="0.00" required
                required />
            </div>
          </div>
          <div class="columna div-boton">
            <br />
            <button class="btn Btn-datos" (click)="limpiar()">Limpiar</button>
            <button id="calcular" class="btn Btn-datos" (click)="calcular()">Calcular</button>
          </div>
        </form>
        <br /><br />

        <div class="div-observaciones">
          <p>Observaciones:</p>
          <p>• CCPP (costo capital promedio ponderado o Tasa de Descuento)</p>
          <p>• VPI (valor presente de ingresos)</p>
          <p>• VPE (valor presente de egresos)</p>
          <p>• RCB (relación costo-beneficio)</p>
        </div>
      </div>
    </div>

    <div class="div-contenido" *ngIf="flujo.length != 0">

      <table>
        <tbody>
          <td>
            <tr>
              <div class="tabla1">
                <table class="table">
                  <thead>
                    <tr>
                      <td class="Espacio-campo"></td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="celdaFNE">FNE</td>
                    </tr>
                  </tbody>
                  <br />
                </table>
              </div>
            </tr>
          </td>
          <td>
            <tr>
              <div class="tabla2">
                <table class="table">
                  <thead>
                    <tr>
                      <td></td>
                      <td *ngFor="let a of flujo" style="text-align: center; font-weight: bold;">Año {{ a.anio }}</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td></td>
                      <td *ngFor="let a of flujo">{{ a.fne | number:'1.2-2' }}</td>
                    </tr>
                  </tbody>
                  <br />
                </table>
              </div>
            </tr>
          </td>
        </tbody>
      </table>

      <br><br>
      <form [formGroup]="formularioDatos">
        <div class="div-resultado">
          <h5>VPE:</h5>
          <h5>{{ formularioDatos.value.vpe | number:'1.2-2' }}</h5>
        </div>
        <div class="div-resultado">
          <h5>VPI:</h5>
          <h5>{{ formularioDatos.value.vpi | number:'1.2-2' }}</h5>
        </div>
        <div class="div-resultado">
          <h5>RCB:</h5>
          <h5>{{ formularioDatos.value.rcb | number:'1.2-2' }}</h5>
        </div>
        <br /><br />
      </form>
    </div>
  </div>

  <br>
  <div class="respuesta">
    <div *ngIf="aprobado" class="msj verde">
      <i class="fa-solid fa-circle-check"></i>
      <p>Propuesta Aprobada</p>
    </div>
    <div *ngIf="rechazado" class="msj rojo">
      <i class="fa-solid fa-circle-xmark"></i>
      <p>Propuesta Rechazada</p>
    </div>
  </div>


  <footer class="Footer">
    <div class="Contenedor">
      <button class="Btn-opciones" routerLink="/flujo-efectivo">
        << Anterior</button>
          <button *ngIf="siguiente" class="Btn-opciones" routerLink="/periodo-recuperacion">Siguiente >></button>
          <button class="Btn-opciones" routerLink="/home" (click)="cancelar()">Cancelar</button>
    </div>
  </footer>
</div>
