/* INDICADORES SUPERIORES ======================================================= */
.etiquetas-flex{
     display: flex;
     padding-top: 20px;
}

.form{
     font-size: 15px;
     margin-right: 20px;
     padding: 3px 10px;
     border: transparent 5px solid;
     border-top-right-radius: 20px;
     border-bottom-right-radius: 20px;
}

.flujo{background-color: #5dc460;}
.costo{background-color: #77dd77; font-weight: bold;}

.disable{
     font-size: 15px;
     margin-right: 20px;
     padding: 3px 10px;
     border: transparent 5px solid;
     background-color: #eaeaea;
     border-top-right-radius: 20px;
     border-bottom-right-radius: 20px;
}




/* FORMULARIO ======================================================= */


.body{
     padding-top: 70px;
}

.formulario{
     /* width: 35%; */
     padding-right: 50px;
     /* background-color: #5dc460; */
}

.flex{
     display: flex
     /* padding-top: 0px; */
     /* width: 160px; */
}

.flex h1{
     width: 170px;
     font-size: 16px;

}

.flex h2{
     width: 25px;
     font-size: 16px;

}

.flex input{
     width: 180px;
     font-size: 16px;
     border-radius: 50px;
     border: 1px solid;
     margin-bottom: 7px;
     padding: 0px 10px 0px 10px;
     text-align: right;

}
.div-titulo{
     text-align: center;
     font-size: 20px;
     font-weight: bold;
}

.div-boton{
     text-align: right;
}

.btn-datos{
     background-color: #5dc460 !important;
     margin-left: 10px;
     padding: 0px 10px 0px 10px;
}

/* TABLA ======================================================= */

.tabla {
     width: 70%;
     padding-left: 50px;
     /* background-color: aqua; */
}

.div-depreciacion{
     text-align: right;
     font-size: 15px;
     font-weight: bold;
}

.div-observaciones p{
     margin: 0;

}

.t-fila{
     width: 250px;
     /* display: flex; */
     /* flex-direction: column; */
}


.div-resultado{
     display: flex;
     width: 500px;
}

.div-resultado h5{
     margin-right: 15px;
}

.msj{
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     font-size: 35px;
}

.aprobado{
     color: green;
}

.aprobado p{
     margin: 0 0 0 10px;
}

.rechazado{
     color: red;
}

.rechazado p{
     margin: 0 0 0 10px;
}

/* BOTONES INFERIORES ======================================================= */

.botones{
     /* padding-left: 50vw; */
     display: flex;
     justify-content: flex-end;
     position:fixed;
     bottom:0;
     width: 70vw;
     /* background-color: #5dc460; */
     
}

.contenedor{
     /* width: 500px; */
     padding-bottom: 50px;
}

.btn-opciones{
     width: 200px;
     background-color: #385A64;
     color: white;
     font-size: 20px;
     margin: 0px 5px 0 5px;
     /* padding: 1px 20px 1px 20px; */
}
