.div-contenido {
  padding-top: 56px;
}

.celdaFNE {
  font-weight: bold;
}

/* Respuesta de VPE, VPI, RCB =============== */

.div-resultado {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.div-resultado h5 {
  font-size: 18px;
}

/* Respuesta de Aprobación =============== */

.respuesta {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0px 30px 0px;
  border-top: 1px dashed gray;
  border-bottom: 1px dashed gray;
}

.msj {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 35px;
  gap: 10px;
}

.msj p {
  margin: 0 0 0 10px;
}

@media (max-width: 992px) {
  .div-resultado {
    display: flex;
    width: 100vw;
    padding: 0px 10px 0px 10px;
  }
}
