.parrafo{
     display: flex;
     align-items: center;
}

.titulo{
     font-size: 60px;
     width: 70vw;
     text-align: center;
     /* background-color: aqua; */
}     

p{
     font-size: 22px;
}

.parrafo img{
     margin: 30px;
     width: 400px;
}