<!-- Simulador Financiero -->
<div class="parrafo">
     <div>
          <br>
          <h1 class="titulo">Simulador Financiero</h1>
          <br>
          <p>
               <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates autem sint vitae odit praesentium aspernatur sequi et, expedita debitis! Nobis iste aliquam harum! Perspiciatis, consectetur in tempora iure quibusdam voluptate?
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates autem sint vitae odit praesentium aspernatur sequi et, expedita debitis! Nobis iste aliquam harum! Perspiciatis, consectetur in tempora iure quibusdam voluptate?
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates autem sint vitae odit praesentium aspernatur sequi et, expedita debitis! Nobis iste aliquam harum! Perspiciatis, consectetur in tempora iure quibusdam voluptate? -->
          </p>
     </div>
</div><br>


<!-- Flujo Neto de Efectivo -->
<div class="parrafo">
     <div>
          <h1>Flujo Neto de Efectivo</h1>
          <p>
               Son la manera en la que, por medio de un informe financiero, conocemos cómo se desplaza el dinero tanto de una empresa como de particulares en el marco de una temporalidad determinada.
          </p>
          <p>
               Vertidos en estos flujos netos de efectivo, quedan asentados datos como cuánto y cuándo es que el dinero registra sus movimientos, para de esta forma mantener un historial de nuestros excedentes o saldo favorable, por un lado, o conocer en qué momento carecemos de liquidez por el otro.
          </p>
     </div>
     <img src="../../../assets/images/documentacion/flujo-neto-efectivo.png" alt="">
</div><br>


<!-- Relación Costo-Beneficio -->
<div class="parrafo">
     <img src="../../../assets/images/documentacion/relacion costo-beneficio.png" alt="">
     <div>
          <h1>Relación Costo-Beneficio</h1>
          <p>
               Son la manera en la que, por medio de un informe financiero, conocemos cómo se desplaza el dinero tanto de una empresa como de particulares en el marco de una temporalidad determinada.
          </p>
     </div>
</div>


<!-- Periodo de Recuperación -->
<div class="parrafo">
     <div>
          <h1>Periodo de Recuperación</h1>
          <p>
               El periodo de recuperación (PRI) se trata de ese tiempo estipulado, o periodo de tiempo, en el que una empresa puede recuperar el dinero y activos totales gastados en una inversión realizada. Es también referido como "payback", y sirve como una herramienta que determina la factibilidad de llevar a cabo un nuevo proyecto o negocio, esto es debido a que las empresas evitan los periodos largos de recuperación ya que no resultan rentables.
          </p>
     </div>
     <img src="../../../assets/images/documentacion/periodo-recuperacion.png" alt="">
</div><br>


<!-- Tabla pago a Prestamos -->
<div class="parrafo">
     <img src="../../../assets/images/documentacion/pago-prestamo.png" alt="">
     <div>
          <h1>Tabla pago a Préstamos</h1>
          <p>
               Es el proceso contable mediante el cual se va reduciendo una deuda a través de pagos periódicos a lo largo de un tiempo determinado, hasta que la deuda sea cancelada por completo. Con base en este concepto, la tabla de amortización y su fórmula son dos elementos clave en toda empresa que adquiere cualquier tipo de créditos.
          </p>
          <p>
               La tabla de pago a préstamos o tabla de amortización es un registro a través del cual se lleva el control de los pagos realizados y de los pagos faltantes por un crédito adquirido, ya sea por parte de un banco, una empresa de factoring o cualquier otra contraparte.
          </p>
     </div>
</div><br>
