.row {
  width: 100vw;
  height: 90vh;
  align-items: center;
}

.card-header {
  font-size: 25px;
  background-color: #009c86;
  color: white;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

input {
  width: 300px;
}

.links {
  display: flex;
  justify-content: space-evenly;
}

button:hover {
  background-color: #009c86;
  border: #009c86;
  color: white;
}

h6 {
  margin-top: 10px;
  font-size: 12px;
  color: red;
}
