<div class="row">
  <div class="col-md-8 mx-auto formulario">
    <div class="card">
      <div class="card-header">
        Registro
      </div><br>
      <div class="card-body">
        <form [formGroup]="formularioDatos" (submit)="registro()">
          <!-- <div class="form-group">
            <input formControlName="usuario" type="tex" name="usuario" class="form-control" placeholder="usuario"
              required autofocus>
          </div><br> -->
          <div class="form-group">
            <input formControlName="correo" type="tex" name="correo" class="form-control" placeholder="correo" required
              autofocus>
          </div><br>
          <div class="form-group">
            <input formControlName="contrasenia" type="password" name="contrasenia" class="form-control"
              placeholder="contraseña" required>
          </div><br>
          <div class="form-group">
            <input formControlName="confirmarcontrasenia" type="password" name="confirmarcontrasenia"
              class="form-control" placeholder="confirmar contraseña" required>
          </div>
          <h6 *ngIf="confirmar">
            Las contraseñas no coinciden. Por favor, verifícalas.
          </h6><br>
          <button type="submit" class="btn btn-outline-info">
            Registrar
          </button>
          <br><br><br>
          <div class="links">
            <a href="./login">Inciar Sesion</a>
            <a>|</a>
            <a>Registrate</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>