/* INDICADORES SUPERIORES ======================================================= */
.etiquetas-flex {
  display: flex;
  padding-top: 20px;
}


.form {
  font-size: 15px;
  margin-right: 20px;
  padding: 3px 10px;
  border: transparent 5px solid;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}


.flujo {
  background-color: #5dc460;
}

.costo {
  background-color: #77dd77;
}

.periodo {
  background-color: #a5eea0;
}

.pago {
  background-color: #cfffca;
  font-weight: bold;
}

.disable {
  font-size: 15px;
  margin-right: 20px;
  padding: 3px 10px;
  border: transparent 5px solid;
  background-color: #eaeaea;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

#cuota{
  border: none;
}

/* FORMULARIO ======================================================= */
.body {
  padding-top: 70px;
}

.formulario {
  /* width: 35%; */
  padding-right: 50px;
  height:324px;
  /* background-color: #5dc460; */
}

.flex {
  display: flex
    /* padding-top: 0px; */
    /* width: 160px; */
}

.flex h1 {
  width: 100px;
  font-size: 16px;

}

.flex h2 {
  width: 50px;
  font-size: 16px;
  text-align: right;
  margin-right: 10px;

}

.flex input {
  width: 180px;
  font-size: 16px;
  border-radius: 50px;
  border: 1px solid;
  margin-bottom: 7px;
  padding: 0px 10px 0px 10px;
  text-align: right;

}

.div-titulo {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.div-boton {
  text-align: right;
}

.btn-datos {
  background-color: #5dc460 !important;
  margin-left: 10px;
  padding: 0px 10px 0px 10px;
}



/* TABLA ======================================================= */

.tabla {
  width: 800px;
  height:324px;
  /* padding-left: 50px; */
  /* background-color: aqua; */
  padding-right: 20px;
  overflow:scroll;
  /* width:65%; */
}

.div-cuota {
  text-align: left;
  font-size: 15px;
  font-weight: bold;

}

.div-observaciones p {
  margin: 0;

}

.div-resultado p, label {
  margin-right: 15px;
}

.div-contenido{
  display: flex;
  flex-direction:column;
  align-items: flex-start;
  margin-left: 100px;
}

.table tr {
  text-align: center;
}








/* BOTONES INFERIORES ======================================================= */

.botones {
  /* padding-left: 50vw; */
  display: flex;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  width: 70vw;
  /* background-color: #5dc460; */

}

.contenedor {
  /* width: 500px; */
  padding-bottom: 50px;
}

.btn-opciones {
  width: 200px;
  background-color: #385A64;
  color: white;
  font-size: 20px;
  margin: 0px 5px 0 5px;
  /* padding: 1px 20px 1px 20px; */
}
