<div class="Body-simulador">

  <div class="Etiquetas-flex">
    <div class="Form Flujo">1. Flujo Neto de Efectivo</div>
    <div class="Form Costo">2. Relación Costo-Beneficio</div>
    <div class="Form Periodo">3. Periodo de Recuperación</div>
    <div class="Form Pago">4. Tabla pago a Préstamo</div>
  </div>

  <div class="d-flex Datos">

    <div class="Formulario">
      <div class="div-titulo">
        <p>Ingresar Datos</p>
      </div>
      <form [formGroup]="formularioDatos">
        <div class="Campo">
          <h1>Credito</h1>
          <h2>L.</h2>
          <input formControlName="credito" type="text" id="credito" placeholder="0.00" appInputCantidad required>
        </div>

        <div class="Campo">
          <h1>Tasa (mensual):</h1>
          <h2>%</h2>
          <input formControlName="tasa" type="number" value="" id="tasa" appInputPorcentaje placeholder="0.00" required>
        </div>

        <div class="Campo">
          <h1>Plazo (meses):</h1>
          <h2></h2>
          <input formControlName="plazo" type="number" value="" id="plazo" oninput="this.value = Math.max(this.value)"
            required>
        </div>

        <div>
          <div class="columna div-boton"><br>
            <button class=" btn Btn-datos" (click)="limpiar()">Limpiar</button>
            <button id="calcular" class=" btn Btn-datos" (click)="calcular()">Calcular</button>
          </div>
        </div>
      </form>
    </div>

    <div *ngIf="tabla.length != 0" class="div-contenido" [formGroup]="formularioDatos">
      <div class="div-cuota">
        Cuota mensual: L. {{this.formularioDatos.get('cuota')?.value | number:'1.2-2'}}
      </div>
      <div>

        <div class="div-tabla">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" class="periodo">Periodo</th>
                <th scope="col">Cuotas</th>
                <th scope="col">Intereses</th>
                <th scope="col">Amortizacion</th>
                <th scope="col">Saldo</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let t of tabla">
                <td class="periodo">{{t.periodo}}</td>
                <td>{{t.cuotas | number:'1.2-2'}}</td>
                <td>{{t.interes | number:'1.2-2'}}</td>
                <td>{{t.amortizacion | number:'1.2-2'}}</td>
                <td>{{t.saldo | number:'1.2-2'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>


  <footer class="Footer">
    <div class="Contenedor">
      <button class="Btn-opciones" routerLink="/periodo-recuperacion">
        << Anterior</button>
          <div *ngIf="autenticacion.logeado()">
            <button *ngIf="!mostrar" class="Btn-opciones" (click)="guardar()">Guardar</button>
            <button *ngIf="mostrar" class="Btn-opciones" (click)="actualizar()">Actualizar</button>
          </div>
          <button class="Btn-opciones" routerLink="/home" (click)="salir()">Cancelar</button>
    </div>
  </footer>
</div>