<div class="etiquetas-flex">
  <div class="form flujo">1. Flujo Neto de Efectivo</div>
  <div class="form costo">2. Relación Costo-Beneficio</div>
  <div class="form periodo">3. Periodo de Recuperación</div>
  <div class="form pago">4. Tabla pago a Préstamo</div>
</div>

<div>
  <div class="d-flex body">
    <div class="formulario">
      <div class="div-titulo">
        <p>Ingresar Datos</p>
      </div>
      <form [formGroup]="formularioDatos">
        <div class="flex">
          <h1>Credito</h1>
          <h2>L.</h2>
          <input formControlName="credito" type="number" id="credito" oninput="this.value = Math.max(this.value)"
            required>
        </div>

        <div class="flex">
          <h1>Tasa (mensual):</h1>
          <h2>%</h2>
          <input formControlName="tasa" type="number" value="" id="tasa" oninput="this.value = Math.max(this.value)"
            required>
        </div>

        <div class="flex">
          <h1>Plazo:</h1>
          <h2>Meses</h2>
          <input formControlName="plazo" type="number" value="" id="plazo" oninput="this.value = Math.max(this.value)"
            required>
        </div>

        <div>
          <div class="columna div-boton"><br>
            <button class=" btn btn-datos" (click)="limpiar()">Limpiar</button>
            <button id="calcular" class=" btn btn-datos" (click)="calcular()">Calcular</button>
          </div>
        </div>
      </form><br><br>
    </div>

    <div *ngIf="tabla.length != 0" class="div-contenido" [formGroup]="formularioDatos">

      <div class="div-cuota">
        <p>Cuota Mensual: L.</p>
        <p>{{this.formularioDatos.get('cuota')?.value}}</p>
      </div><br>

      <div class="tabla">
        <div>

          <table class="table">
            <thead>
              <tr>
                <th scope="col" style="width: 25px;">Periodo</th>
                <th scope="col" style="width: auto;">Cuotas</th>
                <th scope="col" style="width: auto">Intereses</th>
                <th scope="col" style="width: auto;">Amortizacion</th>
                <th scope="col" style="width: auto">Saldo</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let t of tabla">
                <td>{{t.periodo}}</td>
                <td>{{t.cuotas}}</td>
                <td>{{t.interes}}</td>
                <td>{{t.amortizacion}}</td>
                <td>{{t.saldo}}</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>


<footer class="footer">
  <div class="contenedor">
    <button class="btn btn-opciones" routerLink="/periodo-recuperacion">
      << Anterior</button>
        <div *ngIf="autenticacion.logeado()">
          <button *ngIf="!mostrar" class="btn btn-opciones" (click)="guardar()">Guardar</button>
          <button *ngIf="mostrar" class="btn btn-opciones" (click)="actualizar()">Actualizar</button>
        </div>
        <button class="btn btn-opciones" routerLink="/home" (click)="salir()">Cancelar</button>
  </div>
</footer>