<div class="etiquetas-flex">
  <div class="form flujo">1. Flujo Neto de Efectivo</div>
  <div class="form costo">2. Relación Costo-Beneficio</div>
  <div class="form periodo">3. Periodo de Recuperación</div>
  <div class="form pago">4. Tabla pago a Préstamo</div>
</div>

<div class="botones">
  <div class="contenedor">
    <button class="btn btn-opciones" routerLink="/periodo-recuperacion"><< Anterior</button>
    <button class="btn btn-opciones" routerLink="/home">Salir</button>
  </div>
</div>
