<!-- Equipo de Trabajo -->
<div class="parrafo">
     <img src="../../../assets/images/acercade/equipo-trabajo.png" alt="">
     <div>
          <h1>Equipo de Trabajo</h1>
          <p>Milady Jarissa Espinal Ponce</p>
          <p>Ana Isabel Cantarero Flores</p>
          <p>Jimmy Xavier Garcia Flores</p>
          <p>Allan Ricardo Estrada Oseguera</p>
     </div>
</div>

<!-- Objetivo -->
<div class="parrafo">
     <img src="../../../assets/images/acercade/objetivo.png" alt="">
     <div>
          <h1>Objetivo</h1>
          <p>Establecer los niveles de rentabilidad de un proyecto de inversión.  Lo que  se busca con este proyecto es que depende en gran medida, de su grado de evaluación, que no es otra cosa que la valoración de sus riesgos, gastos, beneficios, recursos y elementos. Dicho de otra manera, se trata de buscar la mejor alternativa de ejecución.</p>
     </div>
</div>
