.Etiquetas-flex {
  display: flex;
  padding-top: 20px;
}

.Form {
  font-size: 15px;
  margin-right: 20px;
  padding: 3px 10px;
  border: transparent 5px solid;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.Disable {
  background-color: #eaeaea;
}

.Flujo {
  background-color: #5dc460;
  font-weight: 700;
}

.Costo {
  background-color: #77dd77;
  font-weight: 700;
}

.Periodo {
  background-color: #a5eea0;
  font-weight: 700;
}

.Pago {
  background-color: #cfffca;
  font-weight: 700;
}

@media (max-width: 992px) {
  .Etiquetas-flex {
    justify-content: center;
    width: 95vw;
    margin: 0px 10px 0px 10px;
    padding-top: 5px;
    padding-bottom: 20px;
    flex-wrap: wrap;
    gap: 5px;
  }

  .Form {
    /* verificar tamaño de fuente cambia segun este seleccionada*/
    font-size: 0.75em;
    margin-right: 0px;
    width: fit-content;
    padding: auto;
    border: transparent 3px solid;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}
