.navbar {
  background-color: #009c86 !important;
}

.icon-user {
  font-size: 20px !important;
  margin-right: 7px;
  color: white;
}

.btn {
  margin: 0 0 0 30px !important;
  padding: 0 !important;
}

.nav-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.option {
  display: flex;
  flex-direction: row;
  align-items: center !important;
  color: white;
  margin-left: 40px;
}

#navbarNavAltMarkup {
  justify-content: flex-end !important;
}

.navbar-nav a {
  align-items: center;
  font-size: 15px;
  color: white;
  margin: 0 10px 0 10px;
}

/* .Perfil {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
} */

h1 {
  font-size: 15px;
  color: white;
  margin: 0 10px 0 10px;
}

.active-link {
  color: white;
}

.active-link {
  /* background: #265301; */
  outline: none;
  border-bottom: 3px solid white;
}

.container-fluid {
  padding: 0px 12% 0px 12%;
}

.navbar-brand {
  color: white !important;
  font-size: 1.5rem;
}

.icon {
  width: 50px;
  margin-right: 10px;
}

.fa-solid {
  font-size: 30px;
}

.user {
  /* background-color: blueviolet; */
  padding: 8px 0px 8px 0px !important;
}

.Flex-container {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 80vh;
  width: 1250px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  /* background-color: aquamarine; */
}

@media (max-width: 992px) {
  .navbar-brand {
    font-size: 20px;
  }

  .icon {
    width: 30px;
  }

  .container-fluid {
    padding: 0px 20px 0px 20px;
  }

  .btn {
    margin: 0 !important;
  }

  .Flex-container {
    width: auto;
  }
}
