<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <img class="icon" src="../../../favicon.ico" alt="">
    <a class="navbar-brand" href="/home">Simulador Financiero</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLinkActive="active-link" active routerLink="/home">Inicio</a>
        <a class="nav-link" routerLinkActive="active-link" routerLink="/documentacion">Documentación</a>
        <a class="nav-link" routerLinkActive="active-link" routerLink="/acercade">Acerca de</a>
        <a *ngIf="(inicioSesion$ | async)" class="nav-link" routerLinkActive="active-link"
          routerLink="/escenarios">Escenarios</a>

        <ng-template class="option" #sesionNoIniciada>
          <button class="btn">
            <a class="nav-link" href="/login">
              <i class="icon-user fa-solid fa-circle-user "></i>
              Iniciar Sesion</a>
          </button>
        </ng-template>

        <ng-container class="option" *ngIf="(inicioSesion$ | async) as sesionIniciada; else sesionNoIniciada">
          <!-- <h1 style="font-size: larger;">{{ nombrePerfil$ | async }}</h1> -->
          <!-- <h1>|</h1> -->
          <button class="btn">
            <a class="nav-link" (click)="cerrar()">
              <i class="icon-user fa-solid fa-arrow-right-from-bracket"></i>
              Cerrar Sesión</a>
          </button>
        </ng-container>

      </div>
    </div>
  </div>
</nav>

<div class="Flex-container">
  <router-outlet></router-outlet>
</div>