.d-flex {
  flex-wrap: wrap;
}

.card {
  margin: 20px 10px 20px 10px;
  align-items: center;
  justify-content: center;
}

.add {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.add i {
  font-size: 100px;
  color: #009c86;
}

.modal-dialog {
  width: 250px;
}
