.contaider {
  display: flex;
  flex-wrap: wrap;
}

.text {
  font-size: 15px;
}

.card-img-top {
  width: 60px;
}

.escenario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 145px !important;
  height: 200;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px 10px 20px 10px;
}

.add {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  width: 60px !important;
}

.add i {
  font-size: 60px;
  color: #009c86;
}

.modal-dialog {
  width: 250px;
  margin: auto;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-footer {
  flex-wrap: nowrap;
}

.btn-xs {
  font-size: 12px;
}

.modal-header {
  border: none;
}
