<div class="Body-simulador">
  <div class="Etiquetas-flex">
    <div class="Form Flujo">1. Flujo Neto de Efectivo</div>
    <div class="Form Costo">2. Relación Costo-Beneficio</div>
    <div class="Form Periodo">3. Periodo de Recuperación</div>
    <div class="Form Disable">4. Tabla pago a Préstamo</div>
  </div>

  <div class="d-flex Datos">

    <div class="Formulario">
      <div class="div-titulo">
        <p>Datos Utilizados</p>
      </div>
      <div class="Campo">
        <h1>■ Años</h1>
      </div>
      <div class="Campo">
        <h1>■ Flujo Neto de Efectivo</h1>
      </div>
      <!-- <div class="columna div-boton">
        <br />
        <button id="calcular" class="btn Btn-datos" (click)="calcular()">Calcular</button>
      </div> -->
    </div>


    <div class="div-contenido" *ngIf="flujo.length != 0">

      <table>
        <tbody>
          <td>
            <tr>
              <div class="tabla1">
                <table class="table">
                  <thead>
                    <tr>
                      <td class="Espacio-campo"></td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="celdaFNE">FNE</td>
                    </tr>
                    <tr>
                      <td class="celdaFNE">Acumulado</td>
                    </tr>
                  </tbody>
                  <br />
                </table>
              </div>
            </tr>
          </td>
          <td>
            <tr>
              <div class="tabla2">
                <table class="table">
                  <thead>
                    <tr>
                      <td></td>
                      <td *ngFor="let f of flujo" style="text-align: center; font-weight: bold;">Año {{ f.anio }}</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td></td>
                      <td *ngFor="let f of flujo">{{ f.fne | number:'1.2-2' }}</td>
                    </tr>
                    <tr>
                      <td></td>
                      <!-- <td  *ngFor="let a of acumulado">{{ a | number:'1.2-2' }}</td> -->
                      <td *ngFor="let a of acumulado">
                        <div *ngIf="isNumber(a)">{{ a | number:'1.2-2' }}</div>
                      </td>
                    </tr>
                  </tbody>
                  <br />
                </table>
              </div>
            </tr>
          </td>
        </tbody>
      </table>
    </div>
  </div>


  <div class="respuesta">
    <div class="msj verde">
      <i class="fa-solid fa-clock"></i>
      <p>Periodo de recuperación = {{aRecuperacion}} Años</p>
    </div>
  </div>


  <footer class="Footer">
    <div class="Contenedor">
      <button class="Btn-opciones" routerLink="/costo-beneficio">
        << Anterior</button>
          <button *ngIf="siguiente" class="Btn-opciones" routerLink="/pago-prestamo">Siguiente >></button>
          <button class="Btn-opciones" routerLink="/home" (click)="cancelar()">Cancelar</button>
    </div>
  </footer>
</div>