<div class="etiquetas-flex">
    <div class="form flujo" >1. Flujo Neto de Efectivo</div>
    <div class="disable" >2. Relación Costo-Beneficio</div>
    <div class="disable" >3. Periodo de Recuperación</div>
    <div class="disable" >4. Tabla pago a Préstamo</div>
</div>

<div class="d-flex body">
    <div class="formulario">
      <div class="div-titulo">
        <p>Ingresar Datos</p>
      </div>
      <form [formGroup]="formularioDatos">
        <div class="flex">
              <h1>Inversión</h1>
              <h2>L.</h2>
              <input formControlName="inversion" type="number" id="inversion" oninput="this.value = Math.max(this.value)" required>
        </div>

        <div class="flex">
              <h1>Ingresos:</h1>
              <h2>L.</h2>
              <input formControlName="ingresos" type="number" value="" id="ingresos" oninput="this.value = Math.max(this.value)" required>
        </div>

        <div class="flex">
              <h1>Costos:</h1>
              <h2>L.</h2>
              <input formControlName="costo" type="number" value="" id="costo" oninput="this.value = Math.max(this.value)" required>
        </div>

        <div class="flex">
              <h1>Años:</h1>
              <h2>N</h2>
              <input formControlName="anios" type="number" value="" id="anios" oninput="this.value = Math.max(this.value)" required>
        </div>

        <div class="flex">
              <h1>VS:</h1>
              <h2>L.</h2>
              <input formControlName="valorsalvamento" type="number" value="" id="valorsalvamento" oninput="this.value = Math.max(this.value)" required>
        </div>

        <div class="flex">
              <h1>Impuestos:</h1>
              <h2>%</h2>
              <input formControlName="impuestos" type="number" value="" id="impuestoss" oninput="this.value = Math.max(this.value)" required>
        </div>

        <div class="flex">
              <h1>TMAR:</h1>
              <h2>%</h2>
              <input formControlName="tmar" type="number" value="" id="tmar" oninput="this.value = Math.max(this.value)" required>
        </div>
        <div>
              <div class="columna div-boton"><br>
                  <button class=" btn btn-datos" (click)="limpiar()">Limpiar</button>
                  <button id="calcular" class=" btn btn-datos" (click)="calcular()">Calcular</button>
              </div>
        </div>
      </form><br><br>
      <div class="div-observaciones">
          <p>Observaciones:</p>
          <p>• VS (valor de salvamento o valor de rescate)</p>
          <p>• TMAR (tasa mínima aceptable de rendimiento)</p><br>
          <p>• UAI (utilidad antes del impuesto)</p>
          <p>• UDI (utilidad después del impuesto)</p>
          <p>• FNE (flujo neto de efectivo)</p>
      </div>
    </div>

    <div class="div-contenido"  *ngIf="flujo.length!=0">
      <div class="div-depreciacion">
          Depreciación: L. {{mostrarDepreciacion}}
      </div><br>

        <div class="tabla">
            <div>
              <table class="table" *ngIf="flujo.length!=0">
                <thead>
                  <tr>
                    <td></td>
                    <td *ngFor="let a of flujo;" style="text-align: center;">Año {{a.anio}}</td>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                      <td class="verde" style="width: 250pxs;">+ Ingresos</td>
                      <td  *ngFor="let a of flujo; ">{{a.ingresos}}</td>
                    </tr>
                    <tr>
                      <td class="rojo">- Costos</td>
                      <td  *ngFor="let a of flujo; ">{{a.costosTotales}}</td>
                    </tr>
                    <tr>
                      <td class="rojo">- Depreciación</td>
                      <td  *ngFor="let a of flujo; ">{{a.depreciacion}}</td>
                    </tr>
                    <tr>
                      <td>= UAI</td>
                      <td  *ngFor="let a of flujo; ">{{a.uai}}</td>
                    </tr>
                    <tr>
                      <td class="rojo">- Impuestos</td>
                      <td  *ngFor="let a of flujo; ">{{a.impuestos}}</td>
                    </tr>
                    <tr>
                      <td>= UDI</td>
                      <td  *ngFor="let a of flujo; ">{{a.udi}}</td>
                    </tr>
                    <tr>
                      <td class="verde">+ Depreciación</td>
                      <td  *ngFor="let a of flujo; ">{{a.depreciacion}}</td>
                    </tr>
                    <tr>
                      <td>= FNE </td>
                      <td  *ngFor="let a of flujo; ">{{a.fne}}</td>
                    </tr>
                </tbody><br>
                <!-- <div class="div-resultado">
                      <p>Valor Actual Neto (VAN):</p>
                      <label>L. {{van}}.00</label>
                      <div>Aceptado</div>
                </div><br> -->
              </table>
            </div>
        </div>
      </div>
</div>

<div class="botones">
    <div class="contenedor">
        <button *ngIf="siguiente" class="btn btn-opciones" routerLink="/costo-beneficio">Siguiente >> </button>
        <button class="btn btn-opciones" routerLink="/home" (click)="cancelar()">Cancelar</button>
    </div>
</div>


<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
     Launch demo modal
</button> -->

<!-- Modal - ERROR -->
<!-- <div class="modal fade" id="exampleModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
          <div class="modal-header">
               <i class="fa-solid fa-triangle-exclamation"></i>
               <h5>Error! - Ingrese todos los datos</h5>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          </div>
     </div>
</div> -->
