<div class="etiquetas-flex">
  <div class="form flujo">1. Flujo Neto de Efectivo</div>
  <div class="disable">2. Relación Costo-Beneficio</div>
  <div class="disable">3. Periodo de Recuperación</div>
  <div class="disable">4. Tabla pago a Préstamo</div>
</div>

<div class="d-flex body">
  <div class="formulario">
    <div>
      <div class="div-titulo">
        <p>Ingresar Datos</p>
      </div>
      <form [formGroup]="formularioDatos">
        <div class="flex">
          <h1>Inversión</h1>
          <h2>L.</h2>
          <input formControlName="inversion" type="number" id="inversion" oninput="this.value = Math.max(this.value)"
            placeholder="12000000" required>
        </div>

        <div class="flex">
          <h1>Ingresos:</h1>
          <h2>L.</h2>
          <input formControlName="ingresos" type="number" value="" id="ingresos"
            oninput="this.value = Math.max(this.value)" placeholder="24000000" required>
        </div>

        <div class="flex">
          <h1>Costos:</h1>
          <h2>L.</h2>
          <input formControlName="costo" type="number" value="" id="costo" oninput="this.value = Math.max(this.value)"
            placeholder="18000000" required>
        </div>

        <div class="flex">
          <h1>Años:</h1>
          <h2>N</h2>
          <input formControlName="anios" type="number" value="" id="anios" oninput="this.value = Math.max(this.value)"
            placeholder="5" required>
        </div>

        <div class="flex">
          <h1>VS:</h1>
          <h2>L.</h2>
          <input formControlName="valorsalvamento" type="number" value="" id="valorsalvamento"
            oninput="this.value = Math.max(this.value)" placeholder="2000000" required>
        </div>

        <div class="flex">
          <h1>Impuestos:</h1>
          <h2>%</h2>
          <input formControlName="impuestos" type="number" value="" id="impuestoss"
            oninput="this.value = Math.max(this.value)" placeholder="30" required>
        </div>

        <div class="flex">
          <h1>TMAR:</h1>
          <h2>%</h2>
          <input formControlName="tmar" type="number" value="" id="tmar" oninput="this.value = Math.max(this.value)"
            placeholder="25" required>
        </div>
        <div>
          <div class="columna div-boton"><br>
            <button class=" btn btn-datos" (click)="limpiar()">Limpiar</button>
            <button id="calcular" class=" btn btn-datos" (click)="calcular()">Calcular</button>
          </div>
        </div>
      </form><br><br>
      <div class="div-observaciones">
        <p>Observaciones:</p>
        <p>• VS (valor de salvamento o valor de rescate)</p>
        <p>• TMAR (tasa mínima aceptable de rendimiento)</p><br>
        <p>• UAI (utilidad antes del impuesto)</p>
        <p>• UDI (utilidad después del impuesto)</p>
        <p>• FNE (flujo neto de efectivo)</p>
      </div>
    </div>
  </div>

  <div class="div-contenido" *ngIf="flujo.length!=0">
    <div>
      <div class="div-depreciacion">
        <p>
          Depreciación: L. {{mostrarDepreciacion}}.00
        </p>
      </div><br>

      <table>
        <tbody>
          <td>
            <tr class="tabla1">
              <table class="table">
                <thead>
                  <tr>
                    <td></td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="verde">+ Ingresos</td>
                  </tr>
                  <tr>
                    <td class="rojo">- Costos</td>
                  </tr>
                  <tr>
                    <td class="rojo">- Depreciación</td>
                  </tr>
                  <tr>
                    <td>= UAI</td>
                  </tr>
                  <tr>
                    <td class="rojo">- Impuestos</td>
                  </tr>
                  <tr>
                    <td>= UDI</td>
                  </tr>
                  <tr>
                    <td class="verde">+ Depreciación</td>
                  </tr>
                  <tr>
                    <td>= FNE </td>
                  </tr>
                </tbody><br>
              </table>
            </tr>
          </td>
          <td>
            <tr>
              <div class="tabla2">
                <table class="table" *ngIf="flujo.length!=0">
                  <thead>
                    <tr>
                      <td *ngFor="let a of flujo;" style="text-align: center; font-weight: bold;">Año {{a.anio}}</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td *ngFor="let a of flujo; ">{{a.ingresos}}</td>
                    </tr>
                    <tr>
                      <td *ngFor="let a of flujo; ">{{a.costosTotales}}</td>
                    </tr>
                    <tr>
                      <td *ngFor="let a of flujo; ">{{a.depreciacion}}</td>
                    </tr>
                    <tr>
                      <td *ngFor="let a of flujo; ">{{a.uai}}</td>
                    </tr>
                    <tr>
                      <td *ngFor="let a of flujo; ">{{a.impuestos}}</td>
                    </tr>
                    <tr>
                      <td *ngFor="let a of flujo; ">{{a.udi}}</td>
                    </tr>
                    <tr>
                      <td *ngFor="let a of flujo; ">{{a.depreciacion}}</td>
                    </tr>
                    <tr>
                      <td *ngFor="let a of flujo; ">{{a.fne}}</td>
                    </tr>
                  </tbody><br>
                </table>
              </div>

            </tr>
          </td>

        </tbody>
      </table>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="contenedor">
    <div class="text-right">
      <button *ngIf="siguiente" class="btn btn-opciones" routerLink="/costo-beneficio">Siguiente >> </button>
      <button class="btn btn-opciones" routerLink="/home" (click)="cancelar()">Cancelar</button>
    </div>
  </div>
</footer>