.div-depreciacion {
  text-align: right;
  font-size: 18px;
  font-weight: bold;
  margin-left: 5px;
  margin-bottom: 25px;
}

/* Responsivo ======================================================= */

@media (max-width: 992px) {
  .div-depreciacion {
    width: 95vw;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-left: 0px;
    margin-bottom: 25px;
  }
}
