/* INDICADORES SUPERIORES ======================================================= */
.etiquetas-flex {
  display: flex;
  padding-top: 20px;
}

.form {
  font-size: 15px;
  margin-right: 20px;
  padding: 3px 10px;
  border: transparent 5px solid;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.flujo {
  background-color: #5dc460;
  font-weight: bold;
}

.disable {
  font-size: 15px;
  margin-right: 20px;
  padding: 3px 10px;
  border: transparent 5px solid;
  background-color: #eaeaea;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}


/* FORMULARIO ======================================================= */


.body {
  padding-top: 70px;
}

.formulario {
  /* width: 35%; */
  padding-right: 50px;
  /* background-color: #5dc460; */
}

.flex {
  display: flex
    /* padding-top: 0px; */
    /* width: 160px; */
}

.flex h1 {
  width: 170px;
  font-size: 16px;

}

.flex h2 {
  width: 25px;
  font-size: 16px;

}

.flex input {
  width: 180px;
  font-size: 16px;
  border-radius: 50px;
  border: 1px solid;
  margin-bottom: 7px;
  padding: 0px 10px 0px 10px;
  text-align: right;

}

.div-titulo {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.div-boton {
  text-align: right;
}

.btn-datos {
  background-color: #5dc460 !important;
  margin-left: 10px;
  padding: 0px 10px 0px 10px;
}



/* TABLA ======================================================= */

.tabla {
  margin-left: 50px;
  padding-right: 20px;
  overflow:scroll;
  /* height:500px; */
  width:850px;
  /* background-color: aqua; */
}

.div-depreciacion {
  text-align: right;
  font-size: 15px;
  font-weight: bold;
  margin-left: 50px;

}

.div-observaciones p {
  margin: 0;

}

.t-fila {
  width: 250px;
  /* display: flex; */
  /* flex-direction: column; */
}

.rojo {
  color: red;
}

.verde {
  color: green;
  margin-right: 250px;
  /* background-color: #5dc460; */
  width: 500px !important;
}

.div-resultado {
  display: flex;
  width: 500px;
}

.div-resultado p,
label {
  margin-right: 15px;
}

.div-contenido{
  display: flex;
  flex-direction:column;
  align-items: flex-start;
}
/* BOTONES INFERIORES ======================================================= */

.botones {
  /* padding-left: 50vw; */
  display: flex;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  width: 70vw;
  /* background-color: #5dc460; */
}

.contenedor {
  /* width: 500px; */
  padding-bottom: 50px;
}

.btn-opciones {
  width: 200px;
  background-color: #385A64;
  color: white;
  font-size: 20px;
  margin: 0px 5px 0 5px;
  /* padding: 1px 20px 1px 20px; */
}


/* MODAL ======================================================= */

.modal-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mensaje-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.modal-header i {
  font-size: 25px;
  color: orangered;
  margin-right: 10px;
}

.modal-header h5 {
  padding: 0;
  margin: 0;
}

/* ======================================================= */





@media (max-width: 1280px) {
  .form {
    font-size: 14px;
  }


  .disable {
    font-size: 14px;
  }
}
