/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Cairo";
  src: url("./assets/fonts/Cairo.ttf");
}

body {
  font-family: "Cairo";
}

.Flex {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-left: 100px;
  padding-right: 100px;
  gap: 50px;
}

.Titulo {
  display: flex;
  font-size: 20px;
  width: 100%;
  justify-content: center;
}

.Bloque {
  display: flex;
  align-items: flex-start;
  gap: 50px;
}

.Contenido {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Contenido h1 {
  font-size: 30px;
}

p {
  font-size: 18px;
}

img {
  width: 300px;
}

/* ESTILOS GLOBALES ======================================================= */

/* RESPONSIVE ======================================================= */

@media (max-width: 1200px) {
  .Flex {
    padding-left: 0px;
    padding-right: 0px;
    gap: 100px;
  }

  .Bloque {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }

  .Contenido {
    display: flex;
    gap: 0px;
  }

  .Contenido h1 {
    width: 100%;
    text-align: center;
  }

  .Reverso {
    display: flex;
    flex-direction: column-reverse !important;
  }

  h2 {
    font-size: 30px;
  }

  p {
    text-align: justify;
    font-size: 16px;
  }

  .Bloque img {
    width: 250px;
  }
}
