/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Cairo";
  src: url("./assets/fonts/Cairo.ttf");
}

body {
  font-family: "Cairo";
}

.Flex {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-left: 100px;
  padding-right: 100px;
  gap: 50px;
}

.Titulo {
  display: flex;
  font-size: 20px;
  width: 100%;
  justify-content: center;
}

.Bloque {
  display: flex;
  align-items: flex-start;
  gap: 50px;
}

.Contenido {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Contenido h1 {
  font-size: 30px;
}

p {
  font-size: 18px;
}

img {
  width: 300px;
}

/* ESTILOS GLOBALES ======================================================= */

.btn-global {
  background-color: #385a64;
  color: white;
  font-size: 25px;
  padding: 0 30px 0 30px;
  border: none;
  border-radius: 5px;
}

.btn-l-global {
  border: 1px solid #009c86;
  color: #009c86;
  background-color: white;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}

.btn-l-global:hover {
  border: 1px solid #009c86;
  color: white;
  background-color: #009c86;
}

.Btn-datos {
  background-color: #5dc460 !important;
  margin-left: 10px;
  padding: 0px 10px 0px 10px;
}

/* FOOTER - SIMULADOR ======================================================= */

.Footer {
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  color: #fff;
  text-align: center;
  margin-top: 30px;
  padding-bottom: 10px;
}

.Contenedor {
  display: flex;
  justify-content: flex-end;
  width: 1100px;
}

.Botones {
  margin: 0;
}

.Btn-opciones {
  width: 150px;
  background-color: #385a64;
  color: white;
  font-size: 16px;
  margin: 0px 5px 0 5px;
  border-radius: 5px;
  border: none;
  padding: 5px;
}

/* RESPONSIVE ======================================================= */

@media (max-width: 1200px) {
  .Flex {
    padding-left: 0px;
    padding-right: 0px;
    gap: 100px;
  }

  .Bloque {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }

  .Contenido {
    display: flex;
    gap: 0px;
  }

  .Reverso {
    display: flex;
    flex-direction: column-reverse !important;
  }

  h2 {
    font-size: 30px;
  }

  .Contenido h1 {
    width: 100%;
    text-align: center;
  }

  p {
    text-align: justify;
    font-size: 16px;
  }

  .Bloque img {
    width: 250px;
  }

  .Btn-datos {
    font-size: 13px;
    background-color: #5dc460 !important;
    margin-left: 10px;
    padding: 0px 10px 0px 10px;
  }

  .Contenedor {
    width: 100vw;
    padding-right: 5px;
  }

  .Btn-opciones {
    width: 100px;
    background-color: #385a64;
    color: white;
    font-size: 13px;
    margin: 0px 3px 0 3px;
    padding: 3px;
  }
}
